div{
    position: 'absolute';
    width: 100%;
}
.ev-title{
    font-size: 0.6em;
    font-weight: bold;
    height: 12px;
}
.ev-details{
    font-size: 0.6em
}
.ev-form-card{
    background-color: inherit;
    height: inherit;
    display: flex;
    padding: 0px;
    width: 100%;
}
.ev-form-content{
    padding: 1px 1px 1px 3px;
    width: 80%;
}